<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./assets/styles.css" type="text/css">
  </head>
  <body>
    <div class="todo-table">
      <form class="" action="index.html" method="post">
        <input type="text" name="item" placeholder="type the item here" required/>
        <button type="submit"  name="button">ADD ITEM</button>
        <br>
        <br>
        <ul>
          <li>ITEM 1</li>
          <li>ITEM 1</li>
          <li>ITEM 1</li>
          <li>ITEM 1</li>



        </ul>

      </form>

    </div>

  </body>
</html>
